<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <application>
    <receiver
      android:name="expo.modules.lingocatstreakwidget.LingoCatStreakWidgetProvider"
      android:enabled="true"
      android:exported="true"
      android:label="@string/lingocat_streak_widget_name">
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
      </intent-filter>

      <meta-data
        android:name="android.appwidget.provider"
        android:resource="@xml/lingocat_streak_widget_info" />
    </receiver>
  </application>
</manifest>
